.contenedor {
    background-color: rgb(103, 133, 216);
    width: 200px;
    padding-top: 10px;
    border-radius: 20px;
    border: 1px groove blue;
}

.contenedor > div{
    background-color: rgba(67, 132, 146, 0.532);
}

.contenedor button {
    position: relative;
    right: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(164, 25, 25);
    font-size: 10px;
    margin-bottom: 20px;

 }

 .contenedor button:hover{
    font-size: 13px;
 }

 .contenedor h6{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 .contenedor:hover{
    background-color: aqua;
 }
